body{
  font-family: serif;
}

/* Navbar Section */

#title{
  background-color: #27483c;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid{
  background-color: #1a3128;
  /* position: fixed;
  z-index: 1; */
}

.logo-img{
  height: 53px;
}

.navbar{
  margin: auto 20%;

}

.navbar-brand{
  font-family: serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-link{
  color: #fff;
  font-size: 1.2rem;
  font-family: serif;
}
.home-btn{
  color: #32b698;
}

.nav-link:hover{
  color: #32b698;
  border-bottom: 2px solid;
}

.dropdown-menu{
  background-color: #1a3128;
}

.dropdown-item{
  color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

 /* Title Section */

 .title-section{
   padding: 5% 20%;
 }

 .om{
   padding: 14px;
   border-radius: 100%;
   font-size: 26px;
   background-color: #32b698;
   color: #fff;
   margin: 0 auto 20px;
 }

 .big-heading{
   color: #fff;
   font-size: 4.5rem;
   font-weight: 900;
   font-family: 'Noto Serif', serif;
 }

.lal-kitab{
  background-color: #fff;
}

.brahm{
  background-color: #fff;
}

.ramal-img{

}

.title-images{
  height: 200px;
  width: 300px;
  margin: 20px;
  position: static;

}

.title-text{
  font-size: 1.5rem;
  color: #fff;
}

/* Middle Section */

#middle-section{
  padding: 5% 20%;
}

.ramal-middle{
  width: 100%;
}

figcaption{
  opacity: 75%;
  font-size: 0.8rem;
}

/* Features Section */

#features{
  background-color: #f9f5f4;
}

.features{
  background-color: #f9f5f4;
  padding: 5% 2%;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

/* Cards Section */

.container{
  text-align: center;
  padding-bottom: 5%;
}

.card{
  display: inline-block;
}

.card-body{
  text-align: center;
}

.card-icons{
  border-radius: 100%;
  padding: 18px;
  font-size: 35px;
  background-color: #32b698;
  color: #fff;
  margin: 15px auto 20px;
}

.card-subtitle{
  font-size: 25px;
  font-weight: 900;
}

.card-text{
  font-size: 17px;
}

/* CTA Section */

#cta{
  padding: 5% 20%;
  text-align: center;
  background-color: #1a3128;
}

.cta-img{
  border-radius: 100%;
  font-size: 50px;
  color: #0dcaf0;
  padding: 14px;
}

.cta-text{
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Noto Serif', serif;
}

hr{
  background-color: #fff;
  border: none;
  width: 10%;
  height: 2px;
  opacity: 100%;
  margin: auto;
  }

  /* About Section */

#about{
  padding: 5% 20%;
  background-color: #c6ecd9;
}

.about{
  background-color: #c6ecd9;;
  padding: 5% 2%;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.about-img{
  border-radius: 90%;
  height: 80%;
  width: 100%;
}

/* Timing Section */

#timings{
  padding: 5% 20%;
  background-color: #c6ecd9;
}
.clock{
  color: #32b698;
}

/* Courses */

.vedic-title{
  padding: 2% 20%;
}

.vedic-hr{
  border-bottom: 1px solid;
  color: #c6ecd9;
  border-color: #c6ecd9;
  /* padding: 10px; */
  width: auto;
}

.courses-main{
  padding: 0 20% 2%;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.course-heading{
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Noto Serif', serif;
}

.course-table, th, td{
  border: 1px solid;
  padding: 15px;
}

.table-data{
  text-decoration: line-through;
}

#socials{
  padding: 5% 0.5%;
  background-color: #1a3128;
  color: #fff;
  text-align: center;
}

.social-logos{
  color: #32b698;
}

.social-links{
  text-decoration: none;
  color: #fff;
}

.social-links:hover{
  color: #32b698;
}

.form-heading{
  font-size: 2rem;
}
.form-button{
  text-align: center;
  padding-right 60%;
  padding-bottom: 3%;
}

#course{
  background-color: #1a3128;
}

.course-main-content{
  background-color: #c6ecd9;
}

#course-button{

  padding: 1% 20%;
  text-align: center;
  background-color: #1a3128;
}

.map{
  width: auto;
}

@media (max-width: 1290px) {
  .big-heading{
    font-size: 3rem;
  }
  .course-heading{
    font-size: 3rem;
  }
}
@media (max-width: 1600px) {

}
